@import "bootstrap/_bootstrap.scss";
/*
 * VARS
 * ====
 */
$bg-color:#E8E8E7;
$light-color:white;
$bar-bg:#660066;
$greyish:#333333;
$light-grey:#cccccc;
$logo-color:#660033;
$black:rgba(0,0,0,0.9);
$silver: #808080;
$cyan: cyan;
$opgreyish:rgba(51, 51, 51, 0.95);   
  
$push:10px;
$width:960px;
$min-width:250px;
$min-height:200px;
$bar-height:56px; 

/*
 * DAY SET
 * =======
 */
$black-day:rgba(0,0,0,0.05);
$bar-bg-day:#FFAF0A;   

html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  direction: rtl;
  transition: all 1s linear;
} 
body {
	font-family: 'Alef Hebrew', serif;
  width:100%;
  height: 100%;
  margin: 0 0;
  position: relative;
  background: $bg-color;
  overflow-x: hidden;
}
footer, section {
	display: block;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  &:hover, &:active{
	outline: 0;
  }
}
abbr[title] {
  border-bottom: 1px dotted;
}
mark {
  background: #ff0;
  color: #000;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
ul {
	margin: 0 0;
	padding: 0 0;
}
/*
 * MAIN
 * ====
 */
.main-cnt {
  width: 100%;
  min-width: $min-width;
  min-height: $min-height;
  .center {
    text-align: center;
  }
  h1, h2, p, a, .text {
    margin: 0 0;
    padding: $push $push;
    font-weight: normal;
    color: $light-color;
    .day & {
      color: $black;
    }
  }
  h1 {
    font-size: 40px;
    letter-spacing: -0.7px;
  }
  h2 {
    font-size: 26px;
    letter-spacing: -0.5px;
  }
  p, a, .text {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 28px;
  }

  p, .text {
    .day-add &, .day-remove & {
      transition: color 0s linear;
    }
    .day-remove.day-remove-active &,
    .day-add.day-add-active & {
      transition: color 1s linear;
    }
    .day-add &,
    .day-remove.day-remove-active & {
      color: $light-color;
    }
    .day-remove & ,
    .day-add.day-add-active & {
      color: $black;
    }
  }
  .middle {
    max-width: $width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 20px 20px;
    background: $black;
    .day & {
      background: $black-day;
      .middle {
        background: white;
        border-color: $black;
      }
    }
    .day-add &, .day-remove & {
      transition: background 0s linear;
    }
    .day-remove.day-remove-active &,
    .day-add.day-add-active & {
      transition: background 1s linear;
    }
    .day-add &,
    .day-remove.day-remove-active & {
      background: $black;
    }
    .day-remove & ,
    .day-add.day-add-active & {
      background: $black-day;
    }


    .middle {
        border-radius: 5px;
        border: 1px solid $light-color;
      }
    .link-next {
      margin-right: 9px;
      padding: 5px 9px;
      background: $light-color; 
      color: $opgreyish;
      cursor: pointer;
      &:hover {
        background: $opgreyish; 
        color: $light-color;
        text-decoration: none;
      }
    }
    .link-articles {
      font-size: 20px;
      letter-spacing: -0.3px;
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 5px 0;
      width: 250px;
      background: $light-color; 
      color: $opgreyish;
      cursor: pointer;
      &:hover {
        background: $opgreyish;
        color: $light-color;
        text-decoration: none;
      }
    }
    ul, ol {
       margin-right: $push*3;
      li {
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 28px;
        padding: $push $push;
        font-weight: normal;
        color: $light-color;
        .day & {
          color: $black;
        }
      }
    }
    .x{
      font-weight: bold;
      cursor: pointer;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .articles {
    position: relative;
    .articles-title {
      border-bottom: 1px solid $opgreyish;
    }
    .middle {
      padding: 0 20px;
    }
    .collapsing { // overwrites default values
      -webkit-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out;
    }
  }
/*
 * ANIMATE PAGE-TRANSITIONS
 * ========================
 */
  &.ng-enter { // new partial begins
    transition: 1s ease-in-out opacity;
    opacity: 0;
    &.ng-enter-active { // new partial ends
      opacity: 1;
    }
  }
  &.ng-leave { // old partial begins
    transition: 1s ease-in-out opacity;
    position: absolute; // so old and new can overlap
    opacity: 1;
    &.ng-leave-active { // old partial ends
      opacity: 0;
    }
  }
}
/*
 * BAR
 * ===
 */
.top-part {
  position: relative;
  z-index: 2;
  width: 100%;
  min-width: $min-width;
  height: $bar-height;
  padding: 0 0;
  margin: 0 auto;
  background: $bar-bg;
  -webkit-box-shadow: 0px 0px 8px -1px black;
  -moz-box-shadow: 0px 0px 8px -1px black;
  box-shadow: 0px 0px 8px -1px black;
  .day & {
    background: $bar-bg-day;
  }
  .day-add &, .day-remove & {
    transition: background 0s linear;
  }
  .day-remove.day-remove-active &,
  .day-add.day-add-active & {
    transition: background 1s linear;
  }
  .day-add &,
  .day-remove.day-remove-active & {
    background: $bar-bg;
  }
  .day-remove & ,
  .day-add.day-add-active & {
    background: $bar-bg-day;
  }



  .main-bar {
    max-width: $width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    opacity: 1;
    ul {
      height: 55px;
      float: right;
    }
    #logo {
      font-size: 34px;
      text-shadow: 1px 0 0 black;
      padding-top: 0;
      padding-right: 7px;
      &:hover{
        color: $light-color;
      }
    }
    .bar-list li {
      list-style: none;
      display: inline;
      a { 
        padding: 9px 18px 6px;
        font-size: 24px;
        text-decoration: none;
        letter-spacing: -0.5px;
        color: $light-color;
        &:hover {
          color: $silver;
        }
      }
      .square {
        float: left;
        margin-top: 10px;
        margin-right: 50px;
        padding: 30px 30px 0 0;
        border: 3px solid white;
        border-radius: 5px;
        background-color: $bar-bg-day;
        cursor: pointer;
        .day & {
          background-color: $bar-bg;
        }
      }
    }
    .clicked {
      color: $silver !important;
    }
  }
}

/*
 * FOOTER
 * ======
 */
.footer-bar {
  position: relative;
  width: 100%;
  margin: 20px auto;
  ul {
    text-align: center;
    li {
      display: inline;
      padding: 0 6px;
      a {
        font-size: 16px;
        text-decoration: none;
        letter-spacing: -0.3px;
        color: $logo-color;
      }
      .tooltip a {
        color: $cyan;
      }
    }
  }
}
/*
 * WELCOME PAGE
 * ============
 */
.welcome {
    max-width: $width;
    height: 100%;
    min-width: $min-width;
    margin: 20px auto;
    h1 {
      padding-top: 0;
      font-size: 64px;
      letter-spacing: -1px;
      color: $bar-bg;
    }
    h2 {
      font-size: 35px;
      letter-spacing: -0.6px;
      color: $logo-color;
    }
    .btn-start {
      max-width: 290px;
      margin: 10px auto;
      padding: 10px 0;
      background: $bar-bg;
      border-radius: 12px;
      .day & {
        background: $bar-bg-day;
      }
      a {
        font-size: 27px !important;
        letter-spacing: -1px;
        color: $light-color;
        &:hover{
          color: $silver;
          text-decoration: none;
        }
      }
    }
  }
.img-logo {
  margin: 10px auto;
  width: 155px;
  height: 147px;
  background: url(../images/owl.png);
}
/*
 * SMALL SCREEN VERSION
 * ====================
 */
.small {
  h1 {
    font-size: 32px;
    letter-spacing: -0.5px;
  }
  h2 {
    font-size: 23px;
    letter-spacing: -0.4px;
  }
  p, .text {
    font-size: 15px;
    letter-spacing: -0.1px;
      line-height: 18px;
  }
  a {
    letter-spacing: -0.2px;
  }
  .top-part { 
    width: 100%;
    position: relative;
    min-width: $min-width;
    height: $bar-height;
    padding: 0;
    margin: 0 auto;
    .main-bar {
      width: 100%;
      min-width: $min-width;
      height: 55px;
      margin: 0px auto;
      padding: 0;
    }
    ul {
      width: inherit;
      height: 55px;
    }
    .bar-list {
      position: relative;
      li {  
        a {
          padding: 7px 12px 5px;
          font-size: 18px;
          letter-spacing: -0.3px;
        }
      }
    }
    #logo {
      font-size: 34px;
      text-shadow: 1px 0 0 black;
      padding-right: 10px;
      float: right;
    }
    .bar-btn {
      padding: 0 12px 5px !important;
      font-size: 40px !important;
      cursor: pointer;
      display: block;
      float: left;
      &.square {
        position: relative;
        height: 30px;
        margin-left: 10px;
        top: 3px;
      }
    }
    .show-ignored-bar {
      white-space: nowrap;
      display: inline;
      position: fixed;
      opacity: .9;
      top: 55px;
      left: 0;
      width: 200px;
      border-top: 1px solid $light-grey;
      background: $black;
      .day & {
        background: $black-day;
      }
      /* needed for animation to  work well */
      &.ng-hide-add, .my-element.ng-hide-remove {
        transition: 0s linear all;
      }
      &.ng-hide-add-active,
      &.ng-hide-remove-active {
        transition: .5s linear all;
      }
      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        opacity: .9;
        width: 200px;
      }
      &.ng-hide-remove,
      &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        width: 0;
      }
      li a {
        padding: $push 5px;
        display: block;
        text-align: center;
        border-bottom: 1px solid $light-grey;
        border-left: 1px solid $light-grey;
        border-right: 1px solid $light-grey;
      }
    }
  }
  .btn-start {
    max-width: 220px;
    a {
      font-size: 14px;
    }
  }
}