@import "bootstrap/_bootstrap.scss";
/*
 * VARS
 * ====
 */

$bg-color: #38333b;
$main-color: #d20000;
$second-color: #fff;
$clicked: silver;
$footer-color: rgba(0,0,0,0.9);
$op-frame: rgba(0,0,0,0.7);
$op-background: rgba(255,255,255,0.35);

  
$push:10px;
$width:960px;
$min-width:250px;
$min-height:200px;
$bar-height:58px; 

/*
 * HEADER & FIXES
 * ==============
 */

html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  direction: ltr;
} 
body {
	font-family: 'Open Sans', sans-serif;
  width:100%;
  height: 100%;
  margin: 0 0;
  position: relative;
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .bgoverlay{
    width: 100%;
    height: 100%;
    background: $op-background;
  }
}
footer, section {
	display: block;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  &:hover, &:active{
	outline: 0;
  }
}
abbr[title] {
  border-bottom: 1px dotted;
}
mark {
  background: #ff0;
  color: #000;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
ul {
	margin: 0 0;
	padding: 0 0;
}
/*
 * MAIN
 * ====
 */
.main-cnt {
  width: 100%;
  min-width: $min-width;
  min-height: $min-height;
  .center {
    text-align: center;
  }
  .h-center {
    display: block;
    position: absolute;
    max-width: 70%;
    top:50%;
    left:15%;
  }
  .framed {
    background: $op-frame;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  h1, h2, p, a, .text {
    margin: 0 0;
    padding: $push $push;
    font-weight: normal;
  }
  h1 {
    font-size: 40px;
    letter-spacing: -0.7px;
    color: $main-color;
  }
  h2 {
    font-size: 26px;
    letter-spacing: -0.5px;
    color: $second-color;
  }
  p, a, .text {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 28px;
    color: $second-color;
  }
  .middle {
    max-width: $width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 20px 20px;
    .middle {
        border-radius: 5px;
        border: 1px solid $second-color;
      }
    }
    ul, ol {
       margin-right: $push*3;
      li {
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 28px;
        padding: $push $push;
        font-weight: normal;
        color: $second-color;
      }
    }
    .x{
      font-weight: bold;
      cursor: pointer;
      &:hover{
        text-decoration: none;
      }
    }
  
  .articles {
    position: relative;
    .articles-title {
      border-bottom: 1px solid $clicked;
    }
    .middle {
      padding: 0 20px;
    }
    .collapsing { // overwrites default values
      -webkit-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out;
    }
  }
/*
 * ANIMATE PAGE-TRANSITIONS
 * ========================
 */
  &.ng-enter { // new partial begins
    transition: 1s ease-in-out opacity;
    opacity: 0;
    &.ng-enter-active { // new partial ends
      opacity: 1;
    }
  }
  &.ng-leave { // old partial begins
    transition: 1s ease-in-out opacity;
    position: absolute; // so old and new can overlap
    opacity: 1;
    &.ng-leave-active { // old partial ends
      opacity: 0;
    }
  }
}
/*
 * BAR
 * ===
 */
.top-part {
  position: relative;
  z-index: 1337;
  width: 100%;
  min-width: $min-width;
  height: $bar-height;
  padding: 0 0;
  margin: 0 auto;

  .main-bar {
    max-width: $width;
    min-width: $min-width;
    background: $main-color;
    /*     -webkit-box-shadow: 0px 0px 0px 1px black;
    -moz-box-shadow: 0px 0px 0px 1px black;
    box-shadow: 0px 0px 0px 1px black; */
    margin: 0 auto;
    padding: 0;
    text-align: center;
    ul {
      height: $bar-height;
      overflow: hidden;
    }
    .logo {
      a {
        font-size: 34px;
        text-shadow: 1px 0 0 black;
        padding-top: 0;
        padding-right: 7px;
        &:hover {
          background: none !important;
        }
      }
    }
    .bar-list li {
      list-style: none;
      display: inline-block;
      height: 100%;
      a { 
        display: block;
        height: 100%;
        padding: 9px 18px 6px;
        font-size: 24px;
        text-decoration: none;
        letter-spacing: -0.5px;
        color: $second-color;
        transition: 0.3s ease;
        &:hover {
          color: $main-color;
          background: $second-color;
        }
      }
    }
    .clicked {
      color: $clicked !important;
      background: none!important;

    }
  }
}

/*
 * FOOTER
 * ======
 */
.footer-bar {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  .footer-wrap {
    position: relative;
    a {
    font-size: 16px;
    text-decoration: none;
    letter-spacing: -0.3px;
    color: $footer-color;
    }
    .tooltip a{
      color: $main-color;
    }
  }
}
/*
 * WELCOME PAGE
 * ============
 */
.welcome {
    max-width: $width;
    height: 100%;
    min-width: $min-width;
    margin: 20px auto;
    h1 {
      padding-top: 0;
      font-size: 64px;
      letter-spacing: -1px;
      color: $main-color;
    }
    h2 {
      font-size: 35px;
      letter-spacing: -0.6px;
      color: $main-color;
    }
    .btn-start {
      max-width: 290px;
      margin: 10px auto;
      padding: 10px 0;
      background: $main-color;
      border-radius: 12px;
      a {
        font-size: 27px !important;
        letter-spacing: -1px;
        color: $second-color;
        &:hover {
          color: $main-color;
          text-decoration: none;
        }
      }
      &:hover {
        background: none;
        border: 2px solid $main-color;
      }
    }
  }
/*
 * SMALL SCREEN VERSION
 * ====================
 */
.small {
  h1 {
    font-size: 32px;
    letter-spacing: -0.5px;
  }
  h2 {
    font-size: 23px;
    letter-spacing: -0.4px;
  }
  p, .text {
    font-size: 15px;
    letter-spacing: -0.1px;
      line-height: 18px;
  }
  a {
    letter-spacing: -0.2px;
  }
  .top-part { 
    width: 100%;
    position: relative;
    min-width: $min-width;
    height: $bar-height;
    padding: 0;
    margin: 0 auto;
    .main-bar {
      width: 100%;
      min-width: $min-width;
      height: 55px;
      margin: 0px auto;
      padding: 0;
    }
    ul {
      width: inherit;
      height: 55px;
    }
    .bar-list {
      position: relative;
      li {  
        a {
          padding: 7px 12px 5px;
          font-size: 18px;
          letter-spacing: -0.3px;
        }
      }
    }
    .bar-btn {
      padding: 0 12px 5px !important;
      font-size: 40px !important;
      cursor: pointer;
      display: block;
      float: left;
      &.square {
        position: relative;
        height: 30px;
        margin-left: 10px;
        top: 3px;
      }
    }
    .show-ignored-bar {
      white-space: nowrap;
      display: inline;
      position: fixed;
      opacity: .9;
      top: 55px;
      left: 0;
      width: 200px;
      border-top: 1px solid $clicked;
      background: $op-frame;
      /* needed for animation to  work well */
      &.ng-hide-add, .my-element.ng-hide-remove {
        transition: 0s linear all;
      }
      &.ng-hide-add-active,
      &.ng-hide-remove-active {
        transition: .5s linear all;
      }
      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        opacity: .9;
        width: 200px;
      }
      &.ng-hide-remove,
      &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        width: 0;
      }
      li a {
        padding: $push 5px;
        display: block;
        text-align: center;
        border-bottom: 1px solid $clicked;
        border-left: 1px solid $clicked;
        border-right: 1px solid $clicked;
      }
    }
  }
  .btn-start {
    max-width: 220px;
    a {
      font-size: 14px;
    }
  }
}