@import "bootstrap/_bootstrap.scss";
/*
 * VARS
 * ====
 */

$bg-color: #38333b;
$main-color: #d20000;
$second-color: #fff;
$clicked: silver;
$side-bar-color: black;
$footer-color: rgba(0,0,0,0.9);
$op-frame: rgba(0,0,0,0.7);
  
$push:10px;
$width:960px;
$min-width:300px;
$min-height:440px;
$bar-height:58px;
$side-height:560px;
$side-bar-width:250px;

/*
 * HEADER & FIXES
 * ==============
 */
* {
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  direction: ltr;

} 
body {
	font-family: 'Open Sans', sans-serif;
  width:100%;
  height: 100%;
  margin: 0 0;
  position: relative;
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer, section {
	display: block;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  &:hover, &:active{
	outline: 0;
  }
}
abbr[title] {
  border-bottom: 1px dotted;
}
mark {
  background: #ff0;
  color: #000;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
ul {
	margin: 0 0;
	padding: 0 0;
}
/*
 * MAIN
 * ====
 */
.main-cnt {
  max-width: 100%;
  min-width: $min-width;
  min-height: $min-height;
  //position: relative;
  .center {
    text-align: center;
  }
  .h-center {
    max-width: 70%;
    /* position: absolute;
    transform: translate(0, -50%); // awesome trick to horizinally center */
    /*     top:50%;
    left:15%; */
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    h1, h2, .contact-text {
      padding-left: 0;
      padding-right: 0;
      margin: 15px 0;
    }
    p {
      letter-spacing: 0.2px;
    }
  }
  .framed {
    background: $op-frame;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px 10px;
  }
  h1, h2, p, a, .text {
    margin: 0 0;
    padding: $push $push;
    font-weight: normal;
  }
  h1 {
    font-size: 40px;
    letter-spacing: -0.7px;
    color: $main-color;
  }
  h2 {
    font-size: 26px;
    letter-spacing: -0.5px;
    color: $second-color;
  }
  p, a, .text {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 28px;
    color: $second-color;
  }
  .middle {
    max-width: $width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 20px 20px;
    .middle {
        border-radius: 5px;
        border: 1px solid $second-color;
      }
    }
    ul, ol {
       margin-right: $push*3;
      li {
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 28px;
        padding: $push $push;
        font-weight: normal;
        color: $second-color;
      }
    }
    .x{
      font-weight: bold;
      cursor: pointer;
      &:hover{
        text-decoration: none;
      }
    }
  
  .articles {
    position: relative;
    .articles-title {
      border-bottom: 1px solid $clicked;
    }
    .middle {
      padding: 0 20px;
    }
    .collapsing { // overwrites default values
      -webkit-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out;
    }
  }
/*
 * ANIMATE PAGE-TRANSITIONS
 * ========================
 */
  &.ng-enter { // new partial begins
    transition: 1s ease-in-out opacity;
    opacity: 0;
    &.ng-enter-active { // new partial ends
      opacity: 1;
    }
  }
  &.ng-leave { // old partial begins
    transition: 1s ease-in-out opacity;
    position: absolute; // so old and new can overlap
    opacity: 1;
    &.ng-leave-active { // old partial ends
      opacity: 0;
    }
  }
}
/*
 * BAR
 * ===
 */
.top-part {
  position: relative;
  z-index: 1337;
  width: 100%;
  min-width: $min-width;
  height: $bar-height;
  padding: 0 0;
  margin: 0 auto;

  .main-bar {
    max-width: $width;
    min-width: $min-width;
    background: $main-color;
    /*     -webkit-box-shadow: 0px 0px 0px 1px black;
    -moz-box-shadow: 0px 0px 0px 1px black;
    box-shadow: 0px 0px 0px 1px black; */
    margin: 0 auto;
    padding: 0;
    text-align: center;
    ul {
      height: $bar-height;
      overflow: hidden;
    }
    .logo {
      a {
        font-size: 34px;
        text-shadow: 1px 0 0 black;
        padding-top: 0;
        padding-right: 7px;
        &:hover {
          background: none !important;
        }
      }
    }
    .bar-list li {
      list-style: none;
      display: inline-block;
      height: 100%;
      a { 
        display: block;
        height: 100%;
        padding: 9px 18px 6px;
        font-size: 24px;
        text-decoration: none;
        letter-spacing: -0.5px;
        color: $second-color;
        transition: 0.3s ease;
        &:hover {
          color: $main-color;
          background: $second-color;
        }
      }
    }
    .clicked {
      color: $clicked !important;
      background: none!important;
    }
  }
}
/**
 * general-text
 * ============
 */
 .general-text {
 background: $op-frame;
 min-height: $side-height;
 padding: 25px 0;
 margin-bottom: 10px;

 img {
  float: right;
  display: block;
  margin: 10px 10px;
 }
} 
/**
 * SIDE BAR
 * ========
 */
 .side-bar {
  float: left;
  width: $side-bar-width;
  margin: 10px 20px 0 10px;
  h1, h2, h3, h4, p, a {
    color: $side-bar-color;
  }
  li {
    list-style: none;
  }
  .overview {
    background: $second-color;
    display: block;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 25px;
  }
  .panel-group {
    margin-bottom: 10px;
  }
  .panel-body {
    padding: 5px 5px;
    a {
      font-size: 14px;
      padding: 0 0;
    }
    li {
      padding: 7px 5px 7px 15px;
    }
  }
 }


/*
 * FOOTER
 * ======
 */
.footer-bar {
  display: block;
  width:100%;
  text-align: center;
  clear: both;
  .footer-wrap {
    position: relative;
    a {
      font-size: 16px;
      text-decoration: none;
      letter-spacing: -0.3px;
      color: $footer-color;
    }
    .tooltip a{
      color: $main-color;
    }
  }
}
/*
 * WELCOME PAGE
 * ============
 */
.welcome {
  .btn-start {
    max-width: 220px;
    margin: 20px auto;
    padding: 10px 0;
    background: $main-color;
    border-radius: 25px;
    transition: 0.3s ease;
    border: 2px solid $main-color;
    a {
      font-size: 27px !important;
      letter-spacing: -1px;
      color: $second-color;
      transition: 0.3s ease;
    }
    &:hover {
        background: none;
        a {
          color: $main-color;
          text-decoration: none;
        }
    }
  }
}
/*
 * SMALL SCREEN VERSION
 * ====================
 */
.small {
  h1 {
    font-size: 32px;
    letter-spacing: -0.5px;
  }
  h2 {
    font-size: 23px;
    letter-spacing: -0.4px;
  }
  p, .text {
    font-size: 15px;
    letter-spacing: -0.1px;
      line-height: 18px;
  }
  a {
    letter-spacing: -0.2px;
  }
  .top-part { 
    width: 100%;
    position: relative;
    min-width: $min-width;
    height: $bar-height;
    padding: 0;
    margin: 0 auto;
    .main-bar {
      width: 100%;
      min-width: $min-width;
      height: $bar-height;
      margin: 0px auto;
      padding: 0;
    }
    ul {
      width: inherit;
      height: $bar-height;
      overflow: visible;
    }
    .logo {
      float: left;
    }
    .bar-list {
      position: relative;
      li {  
        a {
          padding: 7px 12px 5px;
          font-size: 18px;
          letter-spacing: -0.3px;
        }
      }
    }
    .bar-btn {
      a {
        padding: 0 12px 5px !important;
        font-size: 40px !important;
        cursor: pointer;
        display: block;
      }
      float: right;
      .clicked {
        &:hover{
          background: $second-color !important;
        }
      }
    }
    .show-ignored-bar {
      white-space: nowrap;
      position: absolute;
      opacity: .8;
      top: $bar-height;
      right: 0;
      width: 200px;
      border-top: 1px solid $second-color;
      background: $op-frame;
      overflow: hidden;
      /* needed for animation to  work well */
      &.ng-hide-add, .my-element.ng-hide-remove {
        transition: 0s linear all;
      }
      &.ng-hide-add-active,
      &.ng-hide-remove-active {
        transition: .5s linear all;
      }
      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        opacity: .8;
        width: 200px;
      }
      &.ng-hide-remove,
      &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        width: 0;
      }
      li a {
        padding: $push 5px;
        text-align: center;
        border-bottom: 1px solid $clicked;
        border-left: 1px solid $clicked;
        border-right: 1px solid $clicked;
      }
      li {
        display: block;
      }
    }
  }
  .btn-start {
    max-width: 180px;
    a {
      font-size: 14px;
    }
  }
  .general-text {
    padding-top: 5px;
  }
 .side-bar {
  float:none;
  margin: 0 0;
  li {
    list-style: none;
  }
  .overview {
    padding-left: 25px;
  }
  .panel-group {
    margin: 10px 10px;
  }
  .panel-body {
    padding: 5px 5px;
    a {
      font-size: 14px;
      padding: 0 0;
    }
    li {
      padding: 7px 5px 7px 15px;
    }
  }
 }
}