<section class="h-center">
	<h1><b><span class="framed">CONTACT US</span></b></h1>
	<p class="framed"><b>Office in Israel:</b><br>Azrieli Center,<br>Derech Menachem Begin 132,<br>Tel Aviv-Yafo.</p>
	<p class="framed"><b>Office in Singapore:</b><br>The Octagon,<br>105 Cecil street,<br>Singapore.</p>
	<p class="center framed"><b>For further information contact us at:</b></p>
	<p class="center"><a class="framed" href="mailto:contact@l1-systems.com" target="_blank"><b>Contact@L1-Systems.com</b></a></p>
</section>