<section class="middle">
	<p><b>הרמוני היא בחורה צעירה שמחפשת דירה בתל אביב, אבל מסתבר שאליס, השותפה שמצאה - לא כל כך פשוטה להתמודדות.
	מחיר הדירה היה זול בשיחת הטלפון - אבל הוכפל כשהשתיים נפגשו.</b></p>
	<p><b>ואז הגיעה הצעה משונה; על כל יום שבו תרשום הרמוני חלום, היא תקבל 100 שקל הנחה משכר הדירה בסוף החודש!
	להרמוני זה נראה כמו הזדמנות שאי אפשר לפספס. אבל לאליס יש את התכניות שלה.</b></p>
	<p><b>בתולת החלומות</b> הינו פרויקט מיוחד, ספר קצר שנועד להעביר את הידע בתחום <b>החלומות</b> דרך <b>קלט רגשי</b>.
	בסופו של דבר, הדרך היעילה ביותר ללמוד - היא להתנסות.</p>
	<p>לקרוא סיפור בו חולקים חוויות עם הדמויות היא דרך נפלאה לעשות את זה בלי באמת לעשות את זה.</p>

	<p><b>בסיפור בתולת החלומות תלמד הרמוני הכול על החלומות,
	מפירוש חלומות בסיסי, ועד כניסה לחלום צלול מלא ונשלט.</b></p>

	<p>אתר <b>חלום</b> מזמין את קוראיו ליהנות מלימוד <b>חלומות</b> באופן מיוחד, דרך קריאת סיפור שמסביר את כל מה שצריך לדעת! הטכניקות והחוויות שמתוארות בסיפור לקוחות מתיאורים שחוו <b>חולמים צלולים</b> אמיתיים. לכן, למרות שזה רק סיפור, ניתן להתייחס אליו כאל מדריך לכניסה <b>לחלום צלול</b> לא פחות מהמאמרים שמוצגים באתר.</p>

	<a ng-href="https://drive.google.com/file/d/0Bzw_rF8pauX8d0tyREZwV25BLUE/view?usp=sharing" target="_blank" class="link-articles">לקריאת הספר בתולת החלומות</a>
</section>