<section class="general-text">
<side-bar class="side-bar"></side-bar>
	<h1>{{item.name}}</h1> 
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis doloremque officia nisi magnam pariatur quasi atque repellat! Praesentium quia molestias facilis, incidunt et aliquam necessitatibus, autem consequatur labore cum dolores?<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, aperiam est, non iste numquam culpa eveniet ducimus facere nihil ex illo voluptatem debitis velit cum officia sint repudiandae vitae possimus.</p>
	<img ng-src="../images/owl.png">
</section>