<section>
<div class="h-center welcome">
	<h1><b><span class="framed">OUR VISION</span></b></h1>
	<p class="framed"><b>In L1-Systems we provide creative solutions to your needs. We specialize in integration of cutting-edge technologies of various kinds.</b></p>
	<p class="framed"><b>With vast experience since 1999 and expertise in different markets and coutries, such as: USA, Israel, India, Japan, Singapore, Italy, Mexico and Brazil. We search far and wide for the best suited technologies to your needs, from the industry or outside it.</b></p>
	<p class="framed"><b>L1-Systems has the technological expertise to provide nations and orginaztions with the solutions to deal with the myrid security challenges of the present and the future.</b></p>
	<div class="center btn-start"><a ng-href="/main/integration/overview">EXPLORE</a></div>
</div>
</section>