<section>
	<accordion>
		<span ng-show="solutions">			
			<a class="overview" href="main/{{part}}/Overview">Overview</a>
			<accordion-group heading="Solutions" is-open="openSol">
	       		<ul>
		      		<li ng-repeat="sol in solutions"><a href="main/{{part}}/{{sol}}">{{sol}}</a></li>
		      	</ul>
			</accordion-group>
		</span>

		<accordion-group heading="Market">
		      <ul>
		      	<li><a href="main/market/Federal Assets">Federal Assets</a></li>
		      	<li><a href="main/market/Safe Cities">Safe Cities</a></li>
		      	<li><a href="main/market/Correctional Facilities">Correctional Facilities</a></li>
		      	<li><a href="main/market/Airports">Airports</a></li>
		      	<li><a href="main/market/Borders">Borders</a></li>
		      	<li><a href="main/market/Maritime">Maritime</a></li>
		      	<li><a href="main/market/Mobile Infrastructure">Mobile Infrastructure</a></li>
		      	<li><a href="main/market/Transportation">Transportation</a></li>
		      </ul>
		</accordion-group>


	</accordion>
</section>