<div class="top-part">
	<div class="main-bar">
		<ul class="bar-list">
			<li class="logo"><a href="/landing"><img src="../images/logo.png" alt="L1-Systems logo"></a></li>
			<span class="show-ignored-bar ng-hide" ng-show="!isSmall || isClicked">
			<li ng-repeat="li in titlebar">
				<a ng-class="{'clicked':li.isClicked}" ng-href="{{::li.url}}">{{::li.content}}</a>
			</li>
			</span>
			<li ng-show="isSmall" ng-click="isClicked=!isClicked" class="bar-btn"><a  ng-class="{'clicked':isClicked}"  href="">≡</a></li>
		</ul>
	</div>
</div>