<p>במדיטציה אנו יוצרים סביבה על ידי דמיון מודרך, בה אנחנו שולטים, ורשאים לתקשר עם התת-מודע בצורה רצונית.</p>
<p><b>בחלום</b> הדברים קורים בצורה בלתי נשלטת ואקראית. ואפילו שאנו "זורמים" איתם תמיד, הם לא לגמרי רצוניים.</p>
<p>מצד שני, <b>חלום</b> הוא לא דמיוני. כשאנחנו <b>חולמים</b>, בניגוד למדיטציה, אנחנו לא מרגישים רחוקים מהמקום. אנחנו לא חושבים "אולי אני מדמיין הכול".</p>
<p><b>בחלום</b> אנחנו פועלים מגוף ראשון, כשכל החושים עובדים בצורה מושלמת. אין אפילו רגע אחד <b>בחלום</b> בו נדמה לנו שאנחנו מדמיינים משהו.</p>
<p>במדיטציה, המחשבה הזו מטרידה אותנו ללא הרף.</p>
<br>
<a class="link-next" href="" ng-click="showText($index + 1)">מה ההבדל בין חלום צלול לחלום רגיל?</a>