<p>כולנו <b>חולמים חלומות</b> רגילים. בדרך כלל הם מטושטשים, מבולגנים, אקראיים, חסרי שליטה - וגם ככה קשה מאוד לזכור אותם.</p>
<p><b>חלום צלול</b> הינו חוויה חושית מלאה, חזקה הרבה יותר <b>מחלום</b> רגיל, ומגיעה יחד עם היכולת לשלוט בסביבה.</p>
<p><b>החלום הצלול</b> לוקח את יתרונות הסדר והארגון של המדיטציה, יחד עם יתרונות המציאותיות של <b>החלומות</b> הרגילים.</p>
<p>בנוסף, מפני שזו חוויה חושית כל כך עוצמתית, החותם שמותיר <b>חלום צלול</b> מבטיח שנזכור אותו כשנתעורר.</p>
<p> אלה שמצליחים לשלוט <b>בחלימה המודעת</b> זוכים לשליטה מלאה בשינה שלהם <b>ובחלומותיהם</b>.</p>
<ul>
	<li><b>בחלומות</b> ניתן להשיג גישה מלאה לתת-מודע, לטיפול בכל בעיה רגשית.</li>
	<li><b>בחלומות</b> ניתן לטייל במקומות רחוקים מבלי לצאת מהמיטה.</li>
	<li><b>בחלומות</b> ניתן לחיות כל סצנה דמיונית; לעוף, לרקוד על הירח ואף לבלות עם בן הזוג המושלם.</li>
	<li>ניתן <b>לחלום</b> על כל נושא שבוחרים, גם כדי להפיג מתח, וגם סתם בשביל הכיף.</li>
</ul>	
<br>
<a class="link-next" href="" ng-click="showText($index + 1)">איך שולטים בחלומות?</a>