<p>אם האדם לא מסוגל לשלוט על חייו בזמן שהוא ער, וודאי שיתקשה לשלוט עליהם כשהוא ישן.</p>
<p>למידת <b>החלימה המודעת</b> והאימונים המתלווים אליה ישפיעו באופן ישיר על תחומים אחרים בחיינו.</p>
<p>יחד עם שיפור אדיר ביכולות המוח, הקשב, הריכוז, הזיכרון והסבלנות, נלמד לשלוט ברצונות שלנו ולהתמודד עם הצבת מטרות עצמיות.</p>
<p>בעזרת שיטות יצירתיות, נוכל להשתמש <b>בחלומות הצלולים</b> כדי לפתור בעיות יומיומיות, החל מפחדים וחרדות - ועד נדודי שינה.</p>
<p>נשים דגש על שיפור השליטה בחיים שלנו ובסביבתנו בזמן הערות, מה שיוביל לשליטה בהם גם במהלך השינה.</p>
<p>ומלבד פריקת המתחים והלחצים בכל לילה, נוכל לחוות בחלומות דברים עוד לפני שנעשו במציאות, להתרגל אליהם, ולראות מה יהיו התוצאות.</p>
<br>
<a class="link-next" href="" ng-click="showText($index + 1)">מה זה נותן?</a>