<p>על ידי קריאה באתר נוכל ללמוד דברים רבים על מסתרי <b>החלומות</b>, השינה <b>והחלימה המודעת</b>.</p>
<p>קריאת מאמרים תשפר את <b>הקלט המחשבתי</b>, וקריאת סיפורים תשפר את <b>הקלט הרגשי</b>.</p>
<p>נקבל כלים בעזרתם נוכל לעבוד בכל לילה, <b>מבלי לפגוע בשינה שלנו</b>, ולהגיע בעצמנו אל מצב <b>החלימה</b> הגבוה ביותר שקיים.</p>
<p><b>בין יתר הדברים שנלמד:</b></p>
<ul>
	<li>מהי שינה? מהם <b>חלומות</b>? מי ישן בעצם, הגוף או הנשמה?</li>
	<li>איך לרשום <b>חלומות</b> בדרך הנכונה, ואיך רישום <b>החלומות</b> משפר את יכולות הזיכרון.</li>
	<li>מהם מחזורי השינה וכיצד לנצל אותם כדי <b>לחלום</b> בשעות הנכונות לנו.</li>
	<li>תפעול <b>השעון הביולוגי</b>, בעזרתו נוכל להתעורר בשעות הרצויות <b>ולחלום</b> בכל נושא מבוקש.</li>
	<li>איך לפגוש את <b>מדריך החלומות</b> הרוחני ולהיעזר בו על מנת להתקדם באופן עצמאי.</li>
	<li>מהן <b>בדיקות המציאות</b> ואיך לבצע אותן כדי לייעל את הכניסה <b>לחלומות צלולים</b>.</li>
	<li>איך לנצל את <b>שיתוק השינה, הסיוטים</b> ושאר החוויות הלא נעימות על מנת לשפר את <b>יכולות החלימה</b>.</li>
</ul>
<p><b>בנוסף נלמד:</b></p>
<ul>
	<li>מה ההבדל בין שנת לילה לשנת יום וכיצד להתייחס אל שני המצבים השונים.</li>
	<li>נחקור את השיטות המדעיות הרשמיות לכניסה <b>לחלום צלול</b>: MILD, WILD ו-WBTB.</li>
	<li>נלמד שילובים מקוריים של השיטות שנועדו להקל בשימוש ולייעל אותן.</li>
	<li>נלמד מה עושים בתוך <b>חלום צלול</b> וכיצד לשלוט בגוף <b>החולם</b>.</li>
	<li>כיצד להשתמש ביכולות במהלך <b>החלום</b> (תעופה, הליכה על קירות, מעבר דרך דברים, תשאול דמויות וכו').</li>
	<li>כיצד לשלוט <b>בחלומות</b> וליצור מהם כל סצנה שנרצה.</li>
	<li>וכיצד להעביר את כל מה שלמדנו אל תוך החיים, כדי ליהנות מהם קצת יותר.</li>
</ul>
<a class="link-articles" ng-href="/articles/0">איפה מתחילים?</a>